---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsPreview from "../components/ProjectsPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="æˆ‘çš„é¡¹ç›® | Licodeao" description="Licodeao's projects">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="é¡¹ç›®åˆ—è¡¨" tagline="ä¸€äº›çžŽç¢ç£¨çš„å°çŽ©æ„ ðŸ§¸" align="start" />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <ProjectsPreview projects={project} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>
